.main-container {
  posiiton: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-height: fit-content;
  width: 680px;
}

.backbutton {
  /* position: absolute; */
  left: 20px;
  bottom: 20px;
}

.header {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hostOrGuest-main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1em 0;
}

.footer {
  padding-bottom: 40px;
}
