.main {
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: red;
}
.goongYeSection {
    display: flex;
    flex-direction: row;
}
.goongYeImage {
    width:300px;
    height:300px;
}
.Main-videos {
    flex-grow:1;
    background-color: grey;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
}

.sgl-video {
    background-color: black;
}

.sgl-video:nth-child(1) {
    grid-column: 1/2;
    grid-row :1/2;
}

.sgl-video:nth-child(2) {
    grid-column: 2/3;
    grid-row :1/2;
}

.sgl-video:nth-child(3) {
    grid-column: 1/2;
    grid-row :2/3;
}

.sgl-video:nth-child(4) {
    grid-column: 2/3;
    grid-row :2/3;
}

/* 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 메인 콘텐츠 흐리게 처리 */
.blur-background {
    filter: blur(5px);
    pointer-events: none; /* 모달이 열렸을 때 배경 클릭 불가 */
}