//sectionactive 여부에 따라, 대기 상태에서 보였던 요소들이 안보이게 해줌

/* 기본 상태의 to-be-none 클래스 스타일 */
/* .to-be-none {
  opacity: 1;
  visibility: visible;
  width: 0;
  height: auto;
  transition: all 0.3s ease-in-out;
} */

/* isSessionActive가 true일 때 적용될 스타일 */
/* .session-active .to-be-none {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
} */

/* 이미지에 대한 기본 스타일 */
.image {
  transition: all 0.3s ease-in-out;
}

/* 설명 섹션에 대한 기본 스타일 */
.descript {
  transition: all 0.3s ease-in-out;
}

/* identity 텍스트에 대한 기본 스타일 */
.identity {
  transition: all 0.3s ease-in-out;
}

/* 구분선에 대한 기본 스타일 */
.border-line {
  transition: all 0.3s ease-in-out;
}

#subtitles {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  borderradius: 5px;
  fontsize: 18px;
  zindex: 1000;
}
