//statusbar, main, footer의 배치 상에서 status bar의 위치
.status-bar {
  background-color: blue;
  display: grid;
  grid-template-columns: 300px 2fr 1fr 300px;
  justify-content: space-between;
  width: 100%;
}

.status-bar {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

//status bar 내부 요소들 배치
.status-bar {
  display: flex;
  justify-content: center;
}

.barRemainTime > .label {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
}

.teamLogo {
  height: 80px;
  width: 80px;
}
